
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-snap-type: y mandatory;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  height: 100vh;
}
img {
  width: 100%;
  height: auto;
}
<<<<<<< HEAD
div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
main {
  margin: 60px;
  margin-top: 100px;
}
header {
  display: flex;
  flex-direction: column;
  background: url(images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
}

.header-one {
  margin: 50px 100px;
}

.header-one button {
  background-color: white;
  float: right;
  padding: 12px 45px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.header-two {
  display: flex;
}

.message {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

.message h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.message p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #000;
  margin-bottom: 30px;
}

.message button {
  background: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 40%;
}

.mockup {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 60px;
}
.mockup img {
  width: 100%;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
}

.grow-together {
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-bottom: 50px;
}

.grow-together-one {
  width: 50%;
  margin: auto 100px;
}
.grow-together-two {
  width: 50%;
}

.flowing-conv {
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-bottom: 50px;
}

.flowing-conv-one {
  width: 50%;
}

.flowing-conv-two {
  width: 50%;
  margin: auto 100px;
}

.your-users {
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-bottom: 150px;
}

.your-users-one {
  width: 50%;
  margin: auto 100px;
}

.your-users-two {
  width: 50%;
}

.grow-together-two img,
.flowing-conv-one img,
.your-users-two img {
  width: 90%;
  height: auto;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.grow-together-one p,
.flowing-conv-two p,
.your-users-one p {
  color: hsl(208, 11%, 55%);
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 70%;
}

.grow-together-one h1,
.flowing-conv-two h1,
.your-users-one h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}

.get-started {
  width: 65%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding: 50px 0px;
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(50, 50, 50, 0.25) 0px 6px 12px 2px;
}

.get-started h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.get-started button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 40%;
}
footer {
  display: flex;
  gap: 10px;
  background-color: hsl(192, 100%, 9%);
  padding: 100px;
  margin-top: -140px;
  padding-top: 150px;
  z-index: -1;
  position: relative;
  color: #fff;
  font-family: "OpenSans", sans-serif;
}

footer a {
  color: #fff !important;
  text-decoration: none;
}

.footer-one {
  width: 30%;
}

.footer-logo {
  padding-bottom: 50px;
}
.footer-two {
  width: 25%;
}
.footer-three {
  width: 25%;
}
.footer-four {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.footer-four i {
  color: white;
}

.footer-four ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 120px;
}

.footer-four ul li a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

footer ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-one p img {
  /* width: 20px;
  height: 20px;
  height: auto; */
  margin: auto;
  margin-right: 12px;
}
.footer-one p {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.footer-one .footer-logo {
=======
.top-showcase {
  position: relative;
  background: url("./images/bg-hero-mobile.svg");
  position: relative;
  width: 100;
  height: 100vh;
  background-color: hsl(193, 100%, 96%);
}
.top-showcase .nav-head ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 20px 0px;
}
.top-showcase .nav-head img {
  width: 40%;
  position: relative;
}
.top-showcase .nav-head ul li a {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  background: #fff;
  border-radius: 15px;
  padding: 0.8rem 2.5rem;
}

.top-showcase .nav img {
  width: 90px;
  position: absolute;
}
.top-showcase .showcase1 h2 {
  font-weight: 700;
}
.top-showcase .nav a {
  position: absolute;
  padding: 0.4rem 2rem;
  text-decoration: none;
  top: 8%;
  font-weight: 600;
  background: #fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.showcase1,
.showcase2,
.showcase3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8%;
  padding-top: 8%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.19),
    6px 6px 20px rgba(0, 0, 0, 0.23);
}
.showcase4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8%;
  padding-top: 8%;
}
.showcase1 {
  padding-right: 10%;
  border: 20px;
}
.top-showcase .showcase1 .showcase1-img {
  width: 100%;
  height: auto;
}
.top-showcase .showcase1 p {
  font-weight: 500;
}
.top-showcase .showcase1 a {
  position: absolute;
  padding: 0.4rem 2rem;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: hsl(322, 82%, 68%);
  border-radius: 15px;
  padding: 0.8rem 2.5rem;
}

.showcase2 {
  padding-left: 10%;
  padding-right: 10%;
  border-top: 30px;
  border: 20px;
}

.showcase3 {
  padding-left: 10%;
  padding-right: 10%;
  border-top: 30px;
  border: 20px;
}
.showcase3 a {
  position: absolute;
  padding: 0.4rem 2rem;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: hsl(322, 82%, 68%);
  border-radius: 15px;
  padding: 0.8rem 2.5rem;
}
.showcase4 {
  padding-left: 10%;
  padding-right: 10%;
  border-top: 30px;
  border: 20px;
}

.showcase4 .in-between {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  background: #fff;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: -50px;
  padding: 90px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.19),
    6px 6px 20px rgba(0, 0, 0, 0.23);
}
.showcase4 .in-between h3 {
  margin: 0 0 2rem;
}
.showcase4 .in-between a {
  position: absolute;
  bottom: 40px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: hsl(322, 82%, 68%);
  border-radius: 15px;
  padding: 0.8rem 2.5rem;
}
.footer-col {
  padding-top: 30px;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding-top: 30px;
}

.footer-col img {
>>>>>>> c261c7b7bcce5189aa772374c2f488c1fd3e585f
  width: 20%;
  font-weight: bolder;
  position: relative;
  top: 8%;
<<<<<<< HEAD
  left: 3%;
  filter: brightness(0) invert(1);
  opacity: 1;
}
footer .footer-col {
=======
  left: 6%;
  filter: brightness(0) invert(1);
  opacity: 1;
}

.footer-col .left-col {
>>>>>>> c261c7b7bcce5189aa772374c2f488c1fd3e585f
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-left: 30px;
  margin-top: 70px;
}
<<<<<<< HEAD
footer .footer-four ul {
  display: flex;
  justify-items: space-between;
}
footer p {
=======
.footer-col li {
  line-height: 1.9;
  list-style: none;
}
.footer-col .left-col .icon {
  display: flex;
}
.footer-col .copy {
>>>>>>> c261c7b7bcce5189aa772374c2f488c1fd3e585f
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  justify-content: right;
<<<<<<< HEAD
  padding-right: 25px;
}

button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1440px) {
  .header-one {
    margin: 40px 15px;
  }
  .header-two {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  .grow-together {
    flex-direction: column-reverse;
  }
  .flowing-conv {
    flex-direction: column;
  }

  .your-users {
    flex-direction: column-reverse;
  }

  .grow-together-one,
  .flowing-conv-two,
  .your-users-one {
    padding-bottom: 80px;
  }
  /* .grow-together-one h1,
  .flowing-conv-two h1,
  .your-users-one h1 {
    margin: auto;
    text-align: center;
  } */

  .message {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    padding: 50px;
  }
  .message button {
    width: 65%;
    padding: 20px;
    margin: auto;
  }

  .mockup {
    width: 100%;
  }
  .grow-together-one {
    width: 100%;
  }
  .grow-together-two {
    width: 100%;
  }
  .flowing-conv-one {
    width: 100%;
  }
  .flowing-conv-two {
    width: 100%;
  }

  .your-users-one {
    width: 100%;
  }

  .your-users-two {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  .get-started {
    width: 100%;
  }

  .get-started button {
    width: 60%;
  }
  .footer-two,
  .footer-three {
    margin-top: 0px;
  }

  .footer-four {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-four,
  .footer-three,
  .footer-two,
  .footer-one {
    width: 100%;
    display: flexbox;
  }
  .grow-together-two img,
  .flowing-conv-one img,
  .your-users-two img {
    padding: 20px;
  }
}

@media all and (max-width: 480px) {
  .header-one button {
    padding: 12px 20px;
  }

  .header-one label {
    width: 60%;
  }
  .get-started h2 {
    font-size: 1.3em;
  }

  .get-started button {
    font-size: 1em;
    padding: 10px 15px;
  }
  .message h1 {
    font-size: 1.5em;
  }
  .message p {
    font-size: 1.2em;
  }

  .message button {
    padding: 10px 15px;
    font-size: 1em;
  }
  .footer-two,
  .footer-three,
  .footer-four {
    margin-top: 20px;
  }

  footer p {
    margin-top: 0%;
    padding-top: 0%;
  }
  .footer-four ul {
    margin-bottom: 0%;
  }

  .grow-together-one h1,
  .flowing-conv-two h1,
  .your-users-one h1 {
    font-size: 1.5em;
  }

  .grow-together-one p,
  .flowing-conv-two p,
  .your-users-one p {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: auto !important;
    left: 20px;
  }
=======
  padding-right: 20px;
>>>>>>> c261c7b7bcce5189aa772374c2f488c1fd3e585f
}
